<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Kemonito Banco</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #003c80; height: 4rem">
		<a class="navbar-brand font-weight-bold" th:href="@{/index}">Kemonito Banco</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul th:if="${usuario.user == 'Admin'}" class="navbar-nav mr-auto">
				<li class="nav-item">
					<li><a th:href="@{/cliente}" style="color:white; margin-left: 1rem;">Clientes</a></li>
					<li><a th:href="@{/prestamo}" style="color:white; margin-left: 1rem;">Prestamos</a></li>
					<li><a th:href="@{/dinero}" style="color:white; margin-left: 1rem;">Dinero</a></li>
					<li><a th:href="@{/cliente/informacion}" style="color:white; margin-left: 1rem;">Mi cuenta</a></li>
				</li>
			</ul>
			<ul th:unless="${usuario.user == 'Admin'}" class="navbar-nav mr-auto">
				<li class="nav-item">
					<li><a th:href="@{/cliente/informacion}" style="color:white; margin-left: 1rem;">Mi cuenta</a></li>
					<li><a th:href="@{/prestamo}" style="color:white; margin-left: 1rem;">Mis Prestamos</a></li>
					<li><a th:href="@{/cliente/abonarCuenta}" style="color:white; margin-left: 1rem;">Abonar / Retirar</a></li>
				</li>
			</ul>
			<form th:action="@{/logOut}">
				<button class="btn btn-danger my-2 my-lg-0" type="submit">Cerrar Sesion</button>
			</form>
		</div>
	</nav>
	<br>
</header>


<body>
	<div class="container">
		<div id="bankCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 2rem">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="../static/images/slide1.jpg" th:src="@{images/slide1.jpg}" class="d-block w-100">
					<div class="carousel-caption d-none d-md-block rounded"
						style="background-color: rgba(53, 53, 53, 0.400)">
						<h4>La mejor atencion del mercado</h4>
						<p>Siempre estamos para ti cuando lo necesitas</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="../static/images/slide2.jpg" th:src="@{images/slide2.jpg}" class="d-block w-100">
					<div class="carousel-caption d-none d-md-block" style="background-color: rgba(53, 53, 53, 0.400)">
						<h4>Un banco de primer nivel</h4>
						<p>Estamos preparados para brindarte los mejores prestamos</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container marketing" style="margin-top: 2rem;">
		<div class="row">
			<div class="col-lg-4 text-center">
				<img class="rounded-circle" src="https://www.vivus.es/blog/wp-content/uploads/2019/01/tipos-de-banco.jpeg"
					alt="Generic placeholder image" width="140" height="140">
				<h2>Somos un banco confiable</h2>
				<p>Cuidamos de tu dinero desde el momento en que lo depositas.</p>
			</div>
			<div class="col-lg-4 text-center">
				<img class="rounded-circle" src="https://www.suspendde.com/img/sitio/notas/medium/como-cambiar-tu-cuenta-de-nomina-otro-banco.jpg"
					alt="Generic placeholder image" width="140" height="140">
				<h2>Tu eres lo mas importante</h2>
				<p>La atencions que te brindamos siempre sera de maxima calidad, para nosotros tu eres prioridad</p>
			</div>
			<div class="col-lg-4 text-center">
				<img class="rounded-circle" src="https://d500.epimg.net/cincodias/imagenes/2019/02/08/mercados/1549629352_971073_1549644601_noticia_normal.jpg"
					alt="Generic placeholder image" width="140" height="140">
				<h2>Queremos mejorar</h2>
				<p>Tus opiniones van directo a nuestros administradores para mejorar dia con dia</p>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Seguros. <span class="text-muted">Transparentes</span></h2>
				<p class="lead">Tendras acceso a tu cuenta en todo momento para depositar y obtener dinero.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-fluid mx-auto rounded" src="https://www.muyseguridad.net/wp-content/uploads/2020/01/Seguridad_Internet.jpg"
					alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<h2 class="featurette-heading">Prestamos. <span class="text-muted">Intereses</span></h2>
				<p class="lead">Aqui dispondras con dinero en todo momento de forma rapida y segura.</p>
			</div>
			<div class="col-md-5 order-md-1">
				<img class="featurette-image img-fluid mx-auto rounded" src="https://tecnicasmarketing.com/wp-content/uploads/2019/11/prestamo-personal-696x394.jpg"
					alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Muchas cosas mas. <span class="text-muted">Y mas.</span></h2>
				<p class="lead">Estamos en constante expansion asi que siempre tendremos algo nuevo para ofrecerte.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-fluid mx-auto" src="https://www.ecestaticos.com/imagestatic/clipping/403/358/40335811c07b1d9a16d3c646c18d71f2/lo-que-los-datos-de-linkedin-nos-muestran-sobre-el-futuro-de-trabajo.jpg?mtime=1579565836"
					alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

</body>

</html>