<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>

	<form th:action="@{/login/ingresar}" method="post">
		<div>
			<label for="user">Usuario</label>
			<div>
				<input type="text" id="user" th:name="user" th:value="${user}" class="form-control">
			</div>
		</div>


		<div>
			<label for="password">Contrase&ntilde;a</label>
			<div>
				<input type="password" id="password" th:name="password" th:value="${password}">

			</div>
		</div>

		<div th:if="${error != null}" th:text="${error}"></div>

		<div>
			<input type="submit" id="submit" value="Iniciar Sesion">
		</div>
	</form>

</body>
</html>