<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Prestamo</title>
</head>
<body>

<form th:action="@{/prestamo/guardar}" method="post" th:object="${prestamo}">
	<input th:field="*{idPrestamo}" type="hidden">
	<input th:field="*{abonoTotal}" type="hidden">
	<input th:field="*{pagado}" type="hidden">
		<div> 
			<label for="idCliente">ID Cliente</label>
			<div> 
				<input type="text" id="idCliente" name="idCliente">
			</div>
		</div>
		
		<br>
		<div> 
			<label for="monto">Monto</label>
			<div> 
				<input type="text" id="monto" th:field="*{monto}" >
			</div>
			<div th:if="${#fields.hasErrors('monto')}" th:errors="*{monto}"> </div>
		</div>
		
		<br>


		<div> 
			<label for="fechaCreacion">Fecha de Creacion </label>
			<div> 
				<input type="text" id="fechaCreacion" th:field="*{fechaCreacion}" >
			</div>
			<div th:if="${#fields.hasErrors('fechaCreacion')}" th:errors="*{fechaCreacion}"> </div>
		</div>
		
		<br>
		
		<div> 
			<label for="fechaExpiracion">Fecha de Expiracion </label>
			<div> 
				<input type="text" id="fechaExpiracion" th:field="*{fechaExpiracion}" >
			</div>
			<div th:if="${#fields.hasErrors('fechaExpiracion')}" th:errors="*{fechaExpiracion}"> </div>
		</div>
		
		<br>
		
		<div> 
			<label for="tipoPrestamo">Tipo de Prestamo </label>
			<div> 
				<input type="text" id="tipoPrestamo" th:field="*{tipoPrestamo}" >
			</div>
			  <div th:if="${#fields.hasErrors('tipoPrestamo')}" th:errors="*{tipoPrestamo}"> </div>	
		</div>
		
		<br>
		
		
		
		<div> 
			<div> 
				<input type="submit" id="name" value="Enviar" >
			</div>
		</div>
	</form>

</body>
</html>